body{background: #eaedf1; font-size: 14px; font-family: 'Poppins-Light',Sans-Serif;}
.blue-bg{background: #214572}
h1.heading{font-size: 18px;  font-family: 'Poppins-Medium',Sans-Serif; }
.heading-wrap{width: 100%; font-size: 18px;  font-family: 'Poppins-Medium',Sans-Serif; }
.wrapper{display: flex; flex-wrap: wrap;}
ul.question-list-wrap{padding: 0;}
.question-list-wrap li, .tab-listing li{list-style-type: none; display: inline-block;}
.question-list-wrap li a{width: 50px;  font-size: 18px; height: 50px; border: 1px solid; display: flex; text-align: center; margin: 10px; flex-direction: column; justify-content: center; border:1px solid #ccc; color: #555; border-radius: 5px;}
.question-list-wrap li a:hover{text-decoration: none; color: #fff; background-color: #6c757d; border-color: #6c757d;}
.palette-guide-wrap{background: #f1f1f1; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
.guide-list-color-wrap{width: 20px; height: 20px; margin: 10px; border-radius: 3px;}
.not-visited{border:1px solid #ccc; background: #fff; }
.answered{border:1px solid #93ab39; background: #aeca43; color: #fff !important; }
.not-answered{border:1px solid #7b0009; background: #a8000c;  color: #fff !important; }
.markedForReview{border:1px solid #c14b16; background: #fd631d; color: #fff !important; }
.answered-markedForReview{border:1px solid #8403a5; background: #a804d1; color: #fff !important; }
.btn-primary{background: #214572; border-color:#214572;}
.ms-auto {margin-left: auto!important;}
ul.tab-listing{padding: 0; margin:0;}
.tab-listing li{text-align: center;}
.tab-listing li a{color: #555;  padding: 14px 28px; display: flex; border-radius: 0; position: relative;}
.tab-listing li:first-child a{border-radius: 5px 0 0 5px;}
.tab-listing li a:hover{color: #fff !important; text-decoration: none; background:#214572;}
.tab-listing-active{color: #fff !important; text-decoration: none; background:#214572;}
.tab-listing-active::after{background: url(../images/arrow.png) center no-repeat; position: absolute; left: 0; bottom: -12px; content: ""; width: 100%; height: 12px;}
.time-heading-wrap{width: 75px; color: #fff; text-align: center; font-family: 'Poppins-Regular',Sans-Serif; }
.time-heading-wrap span{width: 100%; display: inline-block;}
#digits {display: flex; background: #214572; padding: 0 6px; border-radius: 0 5px 5px 0;}
#digits p {display: inline-block; padding: 40px 5px 0px 5px; position: relative; color: #eee; font-size: 11px; margin-bottom: 0 !important; line-height: 30px; margin: 0 6px; width: 46px; text-align: center;}
#digits .colon {font-size: 26px; position: absolute; left: 50px; top: 10px;}
#digits .digits {font-family: 'Poppins-SemiBold',Sans-Serif; background: url(../images/digital-watch-bg.png) repeat 23px; width: 46px; margin: 10px 0px 0px 0px; padding: 3px; color: #111; font-size: 26px; position: absolute; left: 0; top: 0; letter-spacing: 10px;}
#digits .last {display: none;}
.b-tabs {padding:0; box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 17%); background: #fff; border-radius: 5px;}
.b-skills {padding: 22px 15px; box-shadow: 2px 5px 17px 0 rgb(31 45 61 / 17%); background: #fff; border-radius: 5px;}
.dropdown-menu{right: 0; left: auto;}
.lightblue-bg{background: #30619e; margin-left:20px; padding: 5px; border-radius: 5px; color: #fff; border:1px solid #214572; line-height: 30px; }
.lightblue-bg a{color: #fff !important;}
.lightblue-bg a img.image-wrap{margin-right: 10px; height: 20px;}
a.dropdown-item{color: #222 !important}
.lightblue-bg:hover, .lightblue-bg:hover a{background: #fff; color:#222!important;}
footer{background: #2f2f2f; color: #929292; text-align: center; padding: 10px 0;}